header {
	z-index : 199;
	width : 100%;
	height : 70px;
	position : absolute;
	top : 0px;
	line-height : 70px;
	padding-left : 15px;
	padding-right : 15px;
	text-align : center;
	background: #ffffff;
	font-family: 'Noto Sans KR', sans-serif;
}

header>div:nth-child(1) {
	float : right;
}

#headerLogo {
	width : 130px;
	height : 70px;
	text-align : center;
	cursor : pointer;
	float : left;
	padding-top : 10px;
	padding-bottom : 10px;
}

#headerLogo>img {
	width : 100%;
	height : 100%;	
}

#loginStatusWrap>div {
	margin-left : 20px;
	display : inline-block;
	cursor : pointer;
}

.ui.modal.loginModal{
	width : 300px;
	margin-left : -150px;
}

.ui.modal.loginModal>.header{
	font-size : 14px;
	text-align : center;
}


.ui.modal.signUpModal {
	width : 500px;
	margin-left : -250px;
	text-align : left;
	background-color : rgba(50,50,50,0.8);
	z-index : 2;
}

.ui.modal.signUpModal>#signUpHeader {
	background-color : rgba(50,50,50,0.8);
	color : white;
}

.ui.modal.signUpModal>#signUpFooter {
	background-color : rgba(50,50,50,0.8);
	color : white;
}

#signIdChkResult,#signNickChkResult {
	color : #f2711c;
	font-size : 11px;
	display : inline-block;
	padding-left : 5px;
	height : 35px;
	line-height : 35px;
}

.ui.modal.signUpModal>.content>label {
	display : block;
	margin : 10px 0px 5px 0px;
	font-weight : bold;
}

.ui.modal.alertModal {
	width : 300px;
	margin-left : -150px;
}

.smallTextLabel {
	font-size : 12px;
	font-weight : bold;
}
