.ui.vertical.menu {
	width : 200px;
	height : 100%;
	background-color : rgba(0,0,0,0.8);
	border-right : 1px solid #e8e8e8;
	position : fixed;
	z-index : 198;
	top : 0px;
	left : -200px;
	padding-top : 130px;
	-webkit-transition : all 0.5s;
	border-radius : 0px!important;
}

.ui.vertical.menu>.item{
	font-size : 13px;
	font-weight : bold;
	color : white!important;
	border-bottom : 1px solid #888;
}

#navBtn {
	z-index : 200;
	position : fixed;
	left : 10px;
	top : 80px;
	cursor : pointer;
	-webkit-transition : all 0.5s;
}