#profile-tab-box {
	width : 100%;
	height : 500px;
	border-radius : 4px;
	background-color : #f7f7f7;
	padding : 5px;
}

#profile-tab-box .profileImg {
	padding-top : 10px;
	width : 100%;
	height : 330px;
	border-bottom : 1px solid #d8d8d8;
	border-top-right-radius : 4px;
	border-top-left-radius : 4px;
	position : relative;
	background-image : url('../img/sample-test/smaple-back.png');
	background-size : 100% 100%;
}

.profileImg .ui.card {
	width : 250px;
	height : 310px;
	background : none!important;
	border : none!important;
	box-shadow : none!important;
}


.profileImg .ui.card .image {
	height : 200px;
	background-color : rgba(255,255,255,0.6);
	overflow : hidden;
}
.profileImg .ui.card .image>img {
	border-radius : 0px!important;
}

.profileImg .ui.card .content{
	background-color : rgba(255,255,255,0.6);
	border : none!important;
}

#profile-tab-box .profileImg .info-update-btn {
	position : absolute;
	bottom : 2px;
	right : 2px;
}

#profile-tab-box .profileInfo {
	margin-top : 15px;
	padding : 5px;
	width : 100%;
	min-height : 140px;
	background-color : #fff;
	font-size : 13px;
}

#mypageProfileInfo { 
	height : 90px;
	overflow-y : auto;
	font-size : 12px;
}

